*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #ede7f6;
	font-family: Roboto,Sans-serif;
}

.form{
	height:100%;
	width: 750px;
	margin: auto;
}

.send-eval{
    float:right;
    position:static;
    width: 90px;
    height: 40px;
    border: none;
    color: white;
    border-radius: 5px;
    background-color: #6A26D2;
    margin:20px 20px;
    cursor: pointer;
}

.title-div{
	width: 700px;
	background-color: #FDFEFE;
	margin: 15px;
	border-radius: 8px;
	border-top: 8px solid #6A26D2;
	padding: 25px;
}

.title-div h1{
    margin-bottom: 25px;
}

.question-container{
	width: 700px;
	background-color: #FDFEFE;
	margin: 15px;
	border-radius: 8px;
	padding: 25px 25px 30px;
	padding-bottom: 5px;
	margin-top: 20px;
	flex-direction:row;
}

.question-container textarea{
	width: 85%;
	height: 20px;
	padding: 15px;
	margin-right: 10px;
	outline: none;
	resize: none;
	font-size: 16px;
	border-color: #ffff;
	background: #ebe9e9;
	border-bottom: 2px solid #808080;
	border-radius: 5px;
	max-height: 300px;
}

textarea:is(:focus, :valid){
	border-width: 1px;
	border-bottom: 2px solid #6703c4;
}

textarea::-webkit-scrollbar{
	width: 0px;
}

input[type="file"]{
	display:none;
}

.question-container .question-area{
    display: flex;
}

.answer-container .add-img label,
.question-area .add-img label{
	height: 40px;
	width: 40px;
	background-color:#fff;
	position:absolute;
	margin: 6px 15px 15px 10px;
	display: inline-flex;
	justify-content: center;
	align-items:center;
	border-radius: 100px;
	-webkit-transition: all .1s ease;
    -o-transition:all .1s ease;
    transition: all .1s ease;
}

.answer-container .add-img label:hover,
.question-area .add-img label:hover{
	background-color: #cfcece;
}

.container {
    margin-top: 20px;
	margin-bottom: 100px;
    padding: 32px;
}

.select-box {
    display: flex;
    width: 60px;
    flex-direction:column;
}

.select-box .options-container {
    background: #6A26D2;
    color: #f5f6fa;
    max-height: 0;
    width: 250px;
    opacity: 0;
    transition: all 0.4s;
    border-radius: 8px;
    overflow: hidden;

    order: 1;
}

.selected {
    background: #6A26D2;
    font-size: 25px;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #f5f6fa;
    position: relative;
    order: 0;
}

.selected::after {
    content: "";
    background-size: contain;
    background-repeat: no-repeat;

    position: absolute;
    height: 100%;
    width: 32px;
    right: 10px;
    top: 5px;

    transition: all 0.4s;
}

.select-box .options-container.active {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: -6px;
}

.select-box .options-container::-webkit-scrollbar {
    width: 8px;
    background: #3f0696;;
    border-radius: 0 8px 8px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
    background: #3f0696;;
    border-radius: 0 8px 8px 0;
}

.select-box .option,
.selected {
    padding: 10px 24px;
    cursor: pointer;
}

.select-box .option:hover {
    background: #246ec4;
}

.select-box label {
    cursor: pointer;
}

.select-box .option .radio {
    display: none;
}

.div-img{
	margin-top: 10px;
}

.btn-opc{
	height: 40px;
	width: 40px;
	position: absolute;
	margin: 7px 15px 15px 10px;
	cursor: pointer;
	background-color: white;
	border-radius: 100px;
	border: none;
	-webkit-transition: all .1s ease;
    -o-transition:all .1s ease;
    transition: all .1s ease;
}

.btn-opc :hover{
	background-color: #cfcece;
	border: 5px solid #cfcece;
	border-radius: 100px;
}

.custom-button {
    padding: 10px;
    color: white;
    background-color: #6703c4;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}

.custom-text {
    margin-left: 10px;
    font-family: sans-serif;
    color: #aaa;
}

.go-top-container {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    width: 50px;
    height: 50px;
    z-index: -1;
}

.go-top-button {
    width: 0rem;
    height: 0rem;
    background: #6A26D2;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.go-top-button img {
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #fff;
    transition: 0.2s;
}

.show {
    z-index: 10;
}

.show .go-top-button {
    animation: popup 0.3s ease-in-out;
    width: 50px;
    height: 50px;
    z-index: 11;
}

.show img {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
    0% {
        width: 0;
        height: 0;
    }
    50% {
        width: 25px;
        height: 25px;
    }
    100% {
        width: 50px;
        height: 50px;
    }
}